services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Tum\Installer\:
    resource: '../Classes/*'

  # 1. AUTOMATISCHES TAGGING
  # Jede Klasse, die dieses Interface implementiert, bekommt den Tag 'tum.installer.strategy'
  _instanceof:
    Tum\Installer\Domain\Strategy\SetupStrategyInterface:
      tags: ['tum.installer.strategy']

  # 2. INJECTION DES ITERATORS
  # Wir sagen dem Service explizit, was in $strategies rein soll
  Tum\Installer\Service\InstallerService:
    arguments:
      $strategies: !tagged_iterator tum.installer.strategy